* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dce7f2;
  }
  
  .app{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
   
  h3{
    font-family: 'Noto Serif Display', serif;
    font-size: 24px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

  .row {
    margin: 0 -5px;
    width: 96%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 150px;
  }
  
  .column {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .error-message {
    color: red;
    font-family: 'Noto Serif Display', serif;
    font-size: 20px;
  }
  
  .loading-message {
    font-family: 'Noto Serif Display', serif;
    font-size: 20px;
  }

    @media screen and (max-width: 800px) {
      .column {
        width: 25%;
        display: block;
      }
    }
    @media screen and (max-width: 600px) {
      .column {
        width: 50%;
      }
    }
    @media screen and (max-width: 300px) {
      .column {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  
    
  
  
  
  